<style-headings
  attribute="font-size"
  unit="rem"
  min="1"
  max="2"
  limit="7"
  common="padding-top: 4px;
  padding-bottom: 4px;"
></style-headings>
<style-headings
  attribute="font-weight"
  unit=""
  min="400"
  max="800"
  spread="700"
  limit="7"
></style-headings>
<css-doodle>
  @grid: 1 / 100vw 100vh; background-size: 83px 135px; background-color:
  #D24B45; background-image: @doodle( @grid: 2 / 100%; background: @pn(#3C2B34,
  #F7F0E9, #F7F0E9); transform-origin: @pn(100% 100%, 0 100%, 100% 0, 0 0);
  transform: rotateX(45deg) skewY(@pn(34deg, -34deg, -34deg)); );</css-doodle
>
<header class="list-polar--horizontal">
  <span> </span>
  <span>
    <a href="#">0</a>
    <a href="#one">1</a>
    <a href="#two">2</a>
  </span>
</header>
<section>
  <a name="one"><h1>Create Web Platform App</h1></a>
  <p>regular</p>
  <div id="menu">
    <a href="#">blog</a>
    <a href="#one">me</a>
    <a href="#two">projects</a>
  </div>
</section>
<section>
  <a name="two"><h1>Goodbye World</h1></a>
</section>
<footer class="list-polar--horizontal"><span>C -- </span></footer>
