<style-headings
  attribute="font-size"
  unit="rem"
  min="1"
  max="2"
  limit="7"
  common="padding-top: 4px;
  padding-bottom: 4px;"
></style-headings>
<style-headings
  attribute="font-weight"
  unit=""
  min="400"
  max="800"
  spread="700"
  limit="7"
></style-headings>
<header>
  <a href="#">0</a>
  <a href="#one">1</a>
  <a href="#two">2</a>
</header>
<section>
  <a name="one"><h1>Create Web Platform App</h1></a>
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
  <h5>h5</h5>
  <h6>h6</h6>
  <p>regular</p>
</section>
<section>
  <a name="two"><h1>Goodbye World</h1></a>
  <h2>One</h2>
</section>
<footer></footer>
