<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
    />
    <title>{app title}</title>
    <style>
      /* app crtitcal styles */
    </style>
    <script type="javascript">
      // app critical scripts
    </script>
    <link rel="stylesheet" href="./css/index.css" />
    <script type="module" src="./js/index.mjs"></script>
  </head>
  <body>
    <!--
      Add custom HTML relevant to your application here.
    -->

    <div id="app"></div>
  </body>
</html>
