* {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
}
.rectangle {
  position: absolute;
  display: block;
  transition: width var(--speed) var(--transition-function),
    height var(--speed) var(--transition-function),
    left var(--speed) var(--transition-function),
    top var(--speed) var(--transition-function);
}
