:root {
  --color: #343233;
  --bg-color: #fafafa;
  --link-color: #455897;
  --font-family: "times new roman";
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color: #fafafa;
    --bg-color: #343233;
    --link-color: #00a2e7;
  }
}
body {
  margin: 0;
  padding: 16px 32px;
  font-family: var(--font-family);
  max-width: 512px;
  line-height: 1.6;
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
a {
  color: var(--link-color);
}
