.clock::before {
  content: var(--date-hour-str, "00") ":" var(--date-minute-str, "00") ":"
    var(--date-second-str, "00") var(--date-am, "") var(--date-pm, "");
}

.clock24::before {
  content: var(--date-hour24-str, "00") ":" var(--date-minute-str, "00") ":"
    var(--date-second-str, "00");
}

.utc-clock::before {
  content: var(--date-utc-hour24-str, "00") ":" var(--date-utc-minute-str, "00")
    ":" var(--date-utc-second-str, "00");
}
