@media (min-width: 0) {
  .hide-and-show.hide-and-show-width-0 {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 0) {
  .hide-and-show.hide-and-show-height-0 {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 0) {
  .show-and-hide.show-and-hide-width-0 {
    display: none;
  }
}
@media (min-height: 0) {
  .show-and-hide.show-and-hide-height-0 {
    display: none;
  }
}
@media (max-width: 0) {
  .hide-and-show.hide-and-show-width--0 {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-height: 0) {
  .hide-and-show.hide-and-show-height--0 {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-width: 0) {
  .show-and-hide.show-and-hide-width--0 {
    display: none;
  }
}
@media (max-height: 0) {
  .show-and-hide.show-and-hide-height--0 {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 256px) {
  .hide-and-show.hide-and-show-width-0-256px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 0) and (max-height: 256px) {
  .hide-and-show.hide-and-show-height-0-256px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 0) and (max-width: 256px) {
  .show-and-hide.show-and-hide-width-0-256px {
    display: none;
  }
}
@media (min-height: 0) and (max-height: 256px) {
  .show-and-hide.show-and-hide-height-0-256px {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 512px) {
  .hide-and-show.hide-and-show-width-0-512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 0) and (max-height: 512px) {
  .hide-and-show.hide-and-show-height-0-512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 0) and (max-width: 512px) {
  .show-and-hide.show-and-hide-width-0-512px {
    display: none;
  }
}
@media (min-height: 0) and (max-height: 512px) {
  .show-and-hide.show-and-hide-height-0-512px {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 1024px) {
  .hide-and-show.hide-and-show-width-0-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 0) and (max-height: 1024px) {
  .hide-and-show.hide-and-show-height-0-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 0) and (max-width: 1024px) {
  .show-and-hide.show-and-hide-width-0-1024px {
    display: none;
  }
}
@media (min-height: 0) and (max-height: 1024px) {
  .show-and-hide.show-and-hide-height-0-1024px {
    display: none;
  }
}
@media (min-width: 256px) {
  .hide-and-show.hide-and-show-width-256px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 256px) {
  .hide-and-show.hide-and-show-height-256px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 256px) {
  .show-and-hide.show-and-hide-width-256px {
    display: none;
  }
}
@media (min-height: 256px) {
  .show-and-hide.show-and-hide-height-256px {
    display: none;
  }
}
@media (max-width: 256px) {
  .hide-and-show.hide-and-show-width--256px {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-height: 256px) {
  .hide-and-show.hide-and-show-height--256px {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-width: 256px) {
  .show-and-hide.show-and-hide-width--256px {
    display: none;
  }
}
@media (max-height: 256px) {
  .show-and-hide.show-and-hide-height--256px {
    display: none;
  }
}
@media (min-width: 256px) and (max-width: 512px) {
  .hide-and-show.hide-and-show-width-256px-512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 256px) and (max-height: 512px) {
  .hide-and-show.hide-and-show-height-256px-512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 256px) and (max-width: 512px) {
  .show-and-hide.show-and-hide-width-256px-512px {
    display: none;
  }
}
@media (min-height: 256px) and (max-height: 512px) {
  .show-and-hide.show-and-hide-height-256px-512px {
    display: none;
  }
}
@media (min-width: 256px) and (max-width: 1024px) {
  .hide-and-show.hide-and-show-width-256px-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 256px) and (max-height: 1024px) {
  .hide-and-show.hide-and-show-height-256px-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 256px) and (max-width: 1024px) {
  .show-and-hide.show-and-hide-width-256px-1024px {
    display: none;
  }
}
@media (min-height: 256px) and (max-height: 1024px) {
  .show-and-hide.show-and-hide-height-256px-1024px {
    display: none;
  }
}
@media (min-width: 512px) {
  .hide-and-show.hide-and-show-width-512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 512px) {
  .hide-and-show.hide-and-show-height-512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 512px) {
  .show-and-hide.show-and-hide-width-512px {
    display: none;
  }
}
@media (min-height: 512px) {
  .show-and-hide.show-and-hide-height-512px {
    display: none;
  }
}
@media (max-width: 512px) {
  .hide-and-show.hide-and-show-width--512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-height: 512px) {
  .hide-and-show.hide-and-show-height--512px {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-width: 512px) {
  .show-and-hide.show-and-hide-width--512px {
    display: none;
  }
}
@media (max-height: 512px) {
  .show-and-hide.show-and-hide-height--512px {
    display: none;
  }
}
@media (min-width: 512px) and (max-width: 1024px) {
  .hide-and-show.hide-and-show-width-512px-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 512px) and (max-height: 1024px) {
  .hide-and-show.hide-and-show-height-512px-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 512px) and (max-width: 1024px) {
  .show-and-hide.show-and-hide-width-512px-1024px {
    display: none;
  }
}
@media (min-height: 512px) and (max-height: 1024px) {
  .show-and-hide.show-and-hide-height-512px-1024px {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hide-and-show.hide-and-show-width-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-height: 1024px) {
  .hide-and-show.hide-and-show-height-1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (min-width: 1024px) {
  .show-and-hide.show-and-hide-width-1024px {
    display: none;
  }
}
@media (min-height: 1024px) {
  .show-and-hide.show-and-hide-height-1024px {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hide-and-show.hide-and-show-width--1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-height: 1024px) {
  .hide-and-show.hide-and-show-height--1024px {
    display: var(--hide-and-show-display, block);
  }
}
@media (max-width: 1024px) {
  .show-and-hide.show-and-hide-width--1024px {
    display: none;
  }
}
@media (max-height: 1024px) {
  .show-and-hide.show-and-hide-height--1024px {
    display: none;
  }
}
