section {
  position: fixed;
  display: var(--presentation-slide-display-none, block);
}
section:not(:last-of-type) span::after {
  /* content: var(--presentation-position-str) " / "
    var(--presentation-current-size-str) " -- " var(--presentation-norm-str); */
  content: var(--presentation-norm-transform-str);
}
section:last-of-type {
  display: block;
}
p::before {
  content: var(--presentation-index-str) "/" var(--presentation-total-str) " : "
    var(--presentation-position-str) " / " var(--presentation-current-size-str)
    ",  " var(--presentation-absolute-position-str) " / "
    var(--presentation-size-str) " -- " var(--presentation-norm-str) " | "
    var(--presentation-absolute-norm-str);
}

section:nth-of-type(4) {
  background-color: rgb(0, 255, 183);
}
section:nth-of-type(3) {
  background-color: rgb(0, 255, 255);
}
section:nth-of-type(2) {
  background-color: aquamarine;
}
section:nth-of-type(1) {
  background-color: aqua;
}
