section {
  position: fixed;
  display: var(--presentation-slide-display-none, block);
}
section:not(:last-of-type) span::after {
  /* content: var(--presentation-position-str) " / "
    var(--presentation-current-size-str) " -- " var(--presentation-norm-str); */
  content: var(--presentation-norm-0-str) ", " var(--presentation-norm-1-str)
    ", " var(--presentation-norm-2-str);
}
section:last-of-type {
  display: block;
}
p::before {
  content: var(--presentation-index-str) "/" var(--presentation-total-str) " : "
    var(--presentation-position-str) " / " var(--presentation-current-size-str)
    ",  " var(--presentation-absolute-position-str) " / "
    var(--presentation-size-str) " -- " var(--presentation-norm-0-str) " | "
    var(--presentation-absolute-norm-str);
}

section:nth-of-type(4) {
  background-color: rgb(0, 255, 183);
}
section:nth-of-type(3) {
  background-color: rgb(0, 255, 255);
}
section:nth-of-type(2) {
  background-color: aquamarine;
}
section:nth-of-type(1) {
  background-color: aqua;
}
section span:first-of-type {
  position: absolute;
}
.circular-clockwise {
  left: calc(25vw + var(--presentation-norm-2) * 25vw);
  top: calc(25vh + var(--presentation-norm-1) * 25vh);
}
.circular-counter-clockwise {
  left: calc(25vw + var(--presentation-norm-2) * 25vw);
  top: calc(25vh + var(--presentation-norm-1) * -25vh);
}
.pause-up {
  left: 25vw;
  top: calc((1 - var(--presentation-norm-3)) * 100vh);
}
.pause-down {
  left: 25vw;
  top: calc(var(--presentation-norm-3) * 100vh);
}
