stylable-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  flex-direction: column;
  overflow: scroll;
  outline: none;
}
stylable-select * {
  outline: inherit;
}
stylable-select [role="option"] {
  cursor: pointer;
}
stylable-select [role="option"][data-checked] {
  background-color: #0ff0ff;
  color: black;
}
