html {
  height: 200%;
  width: 200%;
}
.horizontal::before {
  content: var(--window-scroll-vertical-str) "/"
    var(--window-scroll-vertical-max-str) ":"
    var(--window-scroll-vertical-ratio-str);
}
.vertical::before {
  content: var(--window-scroll-horizontal-str) "/"
    var(--window-scroll-horizontal-max-str) ":"
    var(--window-scroll-horizontal-ratio-str);
}
